*.sw?
.#*
*#
*~
.classpath
.project
.settings
.flattened-pom.xml
build
target
dependency-reduced-pom.xml
*.sublime-*
/scratch
.gradle
README.html
*.iml
*.log
*.gfs
*.idea
logs/**
buildNumber.properties
versions.properties
**/.DS_Store
/.idea/
*.egg-info
/logs/
build/
dist/
*.egg-info/
__pycache__/
venv/
